# .NET Core
bin/
obj/
*.csproj.user
*.suo
*.cache
*.pdb
*.user
*.userosccache
*.log
*.db

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
*.sln
*.suo

# User-uploaded files 
wwwroot/uploads/*

# Other common ignores
[Dd]ebug/
[Rr]elease/
*.DS_Store
Thumbs.db